i{
	margin-right: .5em;
}
.btn-facebook{
	background: #293d69;
	color: white;
}
.btn-twitter{
	background: #1fbcec;
	color: white;
}
.container{
	padding-top: 3em;
}
.img-avatar{
	width: 50px;
	vertical-align: middle;
	transition: all .4s;
}
.img-avatar:hover{
	opacity: .6;
}
.navbar{
	border-radius: 0;
	margin-bottom: 0;
}
.panel{
	margin-top: 3em;
}
.social{
	margin: .5em 0 1.5em 0;
}
#banner{
	width: 100%;
	height: 700px;
	background: url('../img/welcome.jpg');
	background-attachment: fixed;
	background-size: cover;
}
