i{
	margin-right: .5em;
}
.btn-facebook{
	background: #293d69;
	color: white;
}
.btn-twitter{
	background: #1fbcec;
	color: white;
}
.btn-singular{
	background: #bc361e;
	color: white;
}
.btn-create{
	background: #00bf8f;
	color: white;
}
.btn-facebook:hover,.btn-twitter:hover,.btn-singular:hover,.btn-create:hover{
	opacity: .7;
	color: white;
}
figure{
	box-shadow: .3em .3em 0 gray;
}
.container{
	margin-top: 8em;
}
.img-avatar{
	width: 100px;
	vertical-align: middle;
	transition: all .4s;
}
.img-home{
	margin-bottom: .5em;
	width: 100px;
	background: #bc361e;
	border: .4em solid #bc361e;
	vertical-align: middle;
	transition: all .6s;
}
.img-home:hover{
	width: 100px;
	border: .4em solid #1fbcec;
	vertical-align: middle;
}
.img-avatar:hover{
	opacity: .6;
}
.navbar{
	border-radius: 0;
	margin-bottom: 0;
}
.panel{
	margin-top: 3em;
}
.social{
	margin: .5em 0 1.5em 0;
}
.social-text{
	margin: 0;
	padding: 1em;
}
.social-text:after{
	content: "*";
	color: red;
}
.social-text:before{
	content: "";
	color: red;
}

