button{
	border:none;
	background: none;
}
button:focus{
	outline: none;
}
figure{
	box-shadow: .3em .3em 0 gray;
}
i{
margin-right: .5em;
}
input[type^="radio"]{
	margin: 0 1em;
}
input[hide^="hide"]{
	display: none;
}
textarea{
	width: 100%;
}
textarea:focus{
	outline: none;
	width: 90%;
}
section .form-group, .m-3{
	margin: 3em 0;
}
.app-btn1{
	background-color: white;
	letter-spacing: 2px;
	text-transform: uppercase;
	border: 1px solid black;
}
.app-btn2{
	background-color: #0080d6;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: white;
}
.app-contenedor{
	padding-top: 20px;
	padding-bottom: 40px;
	text-align: center;
}
.app-lista1{
	background-color: #323232;
	color: white;
	text-align: center;
}
.app-lista1 h2, .app-lista2 h2{
	color: white;
	font-size: 30px;
}
.app-lista2{
	background-color: #0080d6;
	color: white;
	text-align: center;
}
.app-pago{
	font-weight: bold;
	margin-right: 30px;
}
.app-precio{
	text-align: center;
}
.app-separador2{
	width: 100px;
	border-bottom: 1px solid #0080d6;
	margin: 20px auto;
}
.btn-facebook{
background: #293d69;
color: white;
}
.btn-twitter{
background: #1fbcec;
color: white;
}
.btn-singular{
background: #bc361e;
color: white;
}
.btn-create{
background: #00bf8f;
color: white;
}
.btn-facebook:hover,.btn-twitter:hover,.btn-singular:hover,.btn-create:hover{
opacity: .7;
color: white;
}
form{
	display: inline;
}
.component-form{
width: 100%;
background: darkmagenta;
}
.container{
	margin-top: 8em;
}
.display-inline{
	display: inline;
	margin-right: 1em;
}
.img-avatar{
	width: 400px;
	vertical-align: middle;
	transition: all .4s;
}
.img-avatar-xl{
    width: 30px;
    margin: 0;
    padding: 0;
}
.img-home{
	margin-bottom: .5em;
	width: 100px;
	background: #bc361e;
	border: .4em solid #bc361e;
	vertical-align: middle;
	transition: all .6s;
}
.img-home:hover{
	width: 100px;
	border: .4em solid #1fbcec;
	vertical-align: middle;
}
.img-avatar:hover{
	opacity: .6;
}
.line{
	width: 100%;
	border: .1em solid lightgrey;
}
.margin-right{
	margin-right:.5em;
}
.media{
	background: #fefefe;
	box-shadow: 1px 1px 1px gray;
}
.navbar{
	border-radius: 0;
	margin-bottom: 0;
}
.panel{
	margin-top: 3em;
}
.slow{
	animation-delay: 1s;
}
.social{
	margin: .5em 0 1.5em 0;
}
.social-text{
	margin: 0;
	padding: 1em;
}
.text-facebook{
	color: #293d69;
}
.well-gray{
	background: #e3e3e3;
	border-radius: 4px;
}
#chat{
	position: absolute;
	width: 100%;
	bottom: 0;
}
